

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.calculator{
    font-family: 'Silkscreen', cursive;
    color: rgb(255, 255, 255);
    width: 400px;
    background-color: rgb(0, 0, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10%;
    box-shadow: 1px 10px 10px rgb(177, 148, 148);
}
p{
    background-color:rgb(0, 0, 0);
    height: 40px;
    width: 75%;
}
button{
    background-color: #3d3528;
    border-radius: 25%;
    height: 35px;
    width: 35px;
    color: white;
}
input{
    border-radius: 10px;
}